.container {
    max-width: 1200px;
    margin:auto;
}
body { 
    background-color: rgb(233, 134, 42);
}
p.white { 
    color:#ffffff;
    font-size: 23px;
    margin-bottom: 20px;
 }

.image-holder{
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
    float: right;
    max-width: 200px;
    height: 198px;
}
h1.border {
    border-left: groove;
    background-color:rgb(146, 146, 146);
    width: fit-content;
    margin-top: 30px;
    color:inherit;
    border-color:hsl(0, 100%, 50%); /* red */
}
.image-holder2 {
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    float: left;
    max-width: 400px;
    height: 300px;
}
.image-holder3 {
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
    float: right;
    max-width:500px;
    height: 300px;
}
.rb26_dett {
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
    float:left;
    max-width: 400px;
    height: 250px;
}
h2.curved-border {
    border-left: groove;
    background-color: rgb(146, 146, 146);
    color: inherit;
    border-color: hsl(0, 100%, 50%); /* red */
    width: fit-content;
    font-size: 30px;
    margin-top: 50px;
}
li.style {
    border-style: groove;
    color: inherit;
    border-color: hsl(300, 100%, 25%); /* purple */
    border-radius: 12px;
    padding: 7px;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 20px;
}
.vspec-I {
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
    float: right;
    max-width: 450px;
    height: 260px;
}
.mspec {
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    float: right;
    max-width: 380px;
    height: 240px; 
}
.vspec-II {
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    float: left;
    max-width: 420px;
    height: 300px;
}
img.nissanmspec {
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    float: right;
    max-width: 380px;
    height: 240px; 
}
