.container {
    max-width: 1200px;
    margin:auto
}
body { 
    background-color: #ce792c;
}
p.white { 
    color:#ffffff;
    font-size: 20px;
 }

.image-holder{
    display: flex;
    margin-left: auto;
    float: right;
    width: 200px;
    height: 200px;
}
h1.border {
    border-style: groove;
    color:inherit;
    border-color:purple;   
    width:fit-content;
}
